<div class = "row">
     <div class = "col-xxxl-6 col-xxl-12 col-md-7 ">
          <div id="fluid-meter" class = "fluid"></div>
     </div>
     <div class = "col-xxxl-6 col-md-5 statistics">
          <div class = "stat">
               <div class = "stat">
                    <div class="card-subheading">Goal</div>
                    <h4 class="card-heading">{{Goal + " tez"}}</h4>
               </div>
               <div class = "stat">
                    <div class="card-subheading">Reached</div>
                    <h4 class="card-heading">{{reached + " tez"}}</h4>
               </div>
               <div class = "stat">
                    <div class="card-subheading">Remaing</div>
                    <h4 class="card-heading">{{remaining + " tez"}}</h4>
               </div>
          </div>
     </div>
</div>
