<nb-card size="large" class = "dialog">
     <nb-card-header>
          <h5>Avatars</h5>
     </nb-card-header>
     <nb-card-body>
          <div style="width: 100%;">
               <div style = "width: 50%; float: left; text-align: center; ">
                    <div>
                         <img src="../../../../assets/images/0.png" alt="Anonymous" class="rounded-circle" width="150" height="150">
                    </div>
                    <nb-tag status="success" appearance="filled" text="XP &lt; 0"></nb-tag>
               </div>
               <div style = "width: 50%; float: left; text-align: center; ">
                    <div>
                         <img src="../../../../assets/images/1.png" alt="Anonymous" class="rounded-circle" width="150" height="150">
                    </div>
                    <nb-tag status="success" appearance="filled" text="0 &#8804; XP &lt; 5"></nb-tag>
               </div>
          </div>


          <div style="width: 100%;">
               <div style = "width: 50%; float: left; text-align: center;">
                    <div>
                         <img src="../../../../assets/images/2.png" alt="Anonymous" class="rounded-circle" width="150" height="150">
                    </div>
                    <nb-tag status="success" appearance="filled" text="5 &#8804; XP &lt; 50"></nb-tag>
               </div>
               <div style = "width: 50%; float:right; text-align: center;">
                    <div>
                         <img src="../../../../assets/images/3.png" alt="Anonymous" class="rounded-circle" width="150" height="150">
                    </div>
                    <nb-tag status="success" appearance="filled" text="50 &#8804; XP &lt; 500"></nb-tag>
               </div>
          </div>


          <div style="width: 100%;">
               <div style = "width: 50%; float: left; text-align: center;">
                    <div>
                         <img src="../../../../assets/images/4.png" alt="Anonymous" class="rounded-circle" width="150" height="150">
                    </div>
                    <nb-tag status="success" appearance="filled" text="500 &#8804; XP &lt; 5000"></nb-tag>
               </div>
               <div style = "width: 50%; float: left; text-align: center;">
                    <div>
                         <img src="../../../../assets/images/5.png" alt="Anonymous" class="rounded-circle" width="150" height="150">
                    </div>
                    <nb-tag status="success" appearance="filled" text="5E3 &#8804; XP &lt; 5E4"></nb-tag>
               </div>
          </div>

          <div style="width: 100%;">
               <div style = "width: 50%; float: left; text-align: center;">
                    <div>
                         <img src="../../../../assets/images/6.png" alt="Anonymous" class="rounded-circle" width="150" height="150">
                    </div>
                    <nb-tag status="success" appearance="filled" text="5E4 &#8804; XP &lt; 5E5"></nb-tag>
               </div>
               <div style = "width: 50%; float: left; text-align: center;">
                    <div>
                         <img src="../../../../assets/images/7.png" alt="Anonymous" class="rounded-circle" width="150" height="150">
                    </div>
                    <nb-tag status="success" appearance="filled" text="5E5 &#8804; XP &lt; 5E6"></nb-tag>
               </div>
          </div>


          <!-- <br>
          <div style="width: 100%;">
               <div style = "width: 50%; float: left">
                    <img src="../../../../assets/images/1.png" alt="Anonymous" class="rounded-circle" width="150">
               </div>
               <div style = "margin-left: 50%; padding-top: 80px;">
                    <p style = "font-size: 15px; font-weight: bold;">XP &lt; 0</p>
               </div>
          </div>
          <div style="width: 100%;">
               <div style = "width: 50%; float: left">
                    <img src="../../../../assets/images/2.png" alt="Anonymous" class="rounded-circle" width="150">
               </div>
               <div style = "margin-left: 50%; padding-top: 80px;">
                    <p style = "font-size: 15px; font-weight: bold;">XP &lt; 0</p>
               </div>
          </div>
          <div style="width: 100%;">
               <div style = "width: 50%; float: left">
                    <img src="../../../../assets/images/3.png" alt="Anonymous" class="rounded-circle" width="150">
               </div>
               <div style = "margin-left: 50%; padding-top: 80px;">
                    <p style = "font-size: 15px; font-weight: bold;">XP &lt; 0</p>
               </div>
          </div>
          <div style="width: 100%;">
               <div style = "width: 50%; float: left">
                    <img src="../../../../assets/images/4.png" alt="Anonymous" class="rounded-circle" width="150">
               </div>
               <div style = "margin-left: 50%; padding-top: 80px;">
                    <p style = "font-size: 15px; font-weight: bold;">XP &lt; 0</p>
               </div>
          </div>
          <div style="width: 100%;">
               <div style = "width: 50%; float: left">
                    <img src="../../../../assets/images/5.png" alt="Anonymous" class="rounded-circle" width="150">
               </div>
               <div style = "margin-left: 50%; padding-top: 80px;">
                    <p style = "font-size: 15px; font-weight: bold;">XP &lt; 0</p>
               </div>
          </div>
          <div style="width: 100%;">
               <div style = "width: 50%; float: left">
                    <img src="../../../../assets/images/6.png" alt="Anonymous" class="rounded-circle" width="150">
               </div>
               <div style = "margin-left: 50%; padding-top: 80px;">
                    <p style = "font-size: 15px; font-weight: bold;">XP &lt; 0</p>
               </div>
          </div>
          <div style="width: 100%;">
               <div style = "width: 50%; float: left">
                    <img src="../../../../assets/images/7.png" alt="Anonymous" class="rounded-circle" width="150">
               </div>
               <div style = "margin-left: 50%; padding-top: 80px;">
                    <p style = "font-size: 15px; font-weight: bold;">XP &lt; 0</p>
               </div>
          </div> -->
     </nb-card-body>
     <nb-card-footer>
          <button nbButton status = "danger" (click) = "close()">Close</button>
     </nb-card-footer>
</nb-card>
